<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>View Courses</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}">
</head>
<body>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-brand mb-0 h1">Student Grading System</span>
            </div>
            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="POST">
                            <input type="radio" name="role" value="STUDENT" checked style="display:none;">
                            <button type="submit" class="text-black btn btn-link px-3 me-2">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="p-5 text-center bg-body-tertiary" style="margin-top: 58px;">
        <h3 class="mb-3">Hello again <strong th:text="${username}">Username</strong>, here is a list of the courses you are enrolled in, as well as the grades</h3>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr class="text-center">
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Your Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course : ${courses}" class="text-center">
                        <td th:text="${course.key}">Course ID</td>
                        <td th:text="${course.value}">Course Name</td>
                        <td>
                            <span th:each="courseGrade : ${studentGrades.courseGrades}"
                                  th:if="${courseGrade.courseId == course.key}"
                                  th:class="|badge ${courseGrade.grade >= 50 ? 'badge-success' : 'badge-danger'} rounded-pill d-inline|"
                                  th:text="${courseGrade.grade}">
                            </span>
                           <!-- <span th:each="courseGrade : ${studentGrades.courseGrades}"
                                  th:unless="${courseGrade.courseId == course.key}"
                                  class="badge-secondary badge rounded-pill d-inline"
                                  >Not Graded
                            </span> -->
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <form th:action="@{/student/student_dashboard}" method="GET">
                <input type="hidden" name="username" th:value="${username}">
                <input type="hidden" name="user_id" th:value="${user_id}">
                <button type="submit" class="btn btn-link">back to dashboard</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/mdb.min.js}"></script>
</body>
</html>
